In [ ]:
#What is pandas and Why it is used, also write it's advantages ?
'''Pandas is an open-source data manipulation library in Python used for data analysis and manipulation tasks.
It provides high-performance, easy-to-use data structures and data analysis tools.
Pandas is mainly used for data cleaning, data exploration, and data transformation tasks.
It can handle a variety of data types, including CSV files, Excel spreadsheets, SQL databases and more.
Pandas is widely used in data science.
Advantages of Pandas:
Easy data manipulation: Pandas makes it easy to clean, reshape, and transform data using built-in functions and methods.
Handling missing data: Pandas provides tools for handling missing data, such as filling missing values, removing missing values
and interpolating missing values.
Data visualization: Pandas makes it easy to visualize data with built-in visualization tools.
Efficient performance: Pandas is designed to be fast and efficient, making it ideal for working with large datasets.'''

In [6]:
#How do you import data from a CSV file using Pandas ? demonstrate using a sample dataset.
'''First import the pandas and use read_csv to read the csv file and write the path of the file'''
import pandas as pd
pf = pd.read_csv(r"C:\Users\amini\OneDrive\Capstones Data\Python\mnist_test.csv")
print(pf)

      label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20
0         7    0    0    0    0    0    0    0    0    0  ...      0      0  \
1         2    0    0    0    0    0    0    0    0    0  ...      0      0
2         1    0    0    0    0    0    0    0    0    0  ...      0      0
3         0    0    0    0    0    0    0    0    0    0  ...      0      0
4         4    0    0    0    0    0    0    0    0    0  ...      0      0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
9995      2    0    0    0    0    0    0    0    0    0  ...      0      0
9996      3    0    0    0    0    0    0    0    0    0  ...      0      0
9997      4    0    0    0    0    0    0    0    0    0  ...      0      0
9998      5    0    0    0    0    0    0    0    0    0  ...      0      0
9999      6    0    0    0    0    0    0    0    0    0  ...      0      0

      28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0         0      0      0      0      0      0      0      0
1         0      0      0      0      0      0      0      0
2         0      0      0      0      0      0      0      0
3         0      0      0      0      0      0      0      0
4         0      0      0      0      0      0      0      0
...     ...    ...    ...    ...    ...    ...    ...    ...
9995      0      0      0      0      0      0      0      0
9996      0      0      0      0      0      0      0      0
9997      0      0      0      0      0      0      0      0
9998      0      0      0      0      0      0      0      0
9999      0      0      0      0      0      0      0      0

[10000 rows x 785 columns]

In [7]:
#Display statistical analysis (mean,median,datatypes,etc.) on a dataset ?Provide examples.
import pandas as pd
Pe = pd.read_csv(r"C:\Users\amini\OneDrive\Capstones Data\Python\mnist_test.csv")
print(Pe.describe())

              label      1x1      1x2      1x3      1x4      1x5      1x6
count  10000.000000  10000.0  10000.0  10000.0  10000.0  10000.0  10000.0  \
mean       4.443400      0.0      0.0      0.0      0.0      0.0      0.0
std        2.895865      0.0      0.0      0.0      0.0      0.0      0.0
min        0.000000      0.0      0.0      0.0      0.0      0.0      0.0
25%        2.000000      0.0      0.0      0.0      0.0      0.0      0.0
50%        4.000000      0.0      0.0      0.0      0.0      0.0      0.0
75%        7.000000      0.0      0.0      0.0      0.0      0.0      0.0
max        9.000000      0.0      0.0      0.0      0.0      0.0      0.0

           1x7      1x8      1x9  ...         28x19         28x20
count  10000.0  10000.0  10000.0  ...  10000.000000  10000.000000  \
mean       0.0      0.0      0.0  ...      0.179300      0.163600
std        0.0      0.0      0.0  ...      5.674149      5.736072
min        0.0      0.0      0.0  ...      0.000000      0.000000
25%        0.0      0.0      0.0  ...      0.000000      0.000000
50%        0.0      0.0      0.0  ...      0.000000      0.000000
75%        0.0      0.0      0.0  ...      0.000000      0.000000
max        0.0      0.0      0.0  ...    253.000000    253.000000

              28x21       28x22    28x23    28x24    28x25    28x26    28x27
count  10000.000000  10000.0000  10000.0  10000.0  10000.0  10000.0  10000.0  \
mean       0.052600      0.0006      0.0      0.0      0.0      0.0      0.0
std        2.420004      0.0600      0.0      0.0      0.0      0.0      0.0
min        0.000000      0.0000      0.0      0.0      0.0      0.0      0.0
25%        0.000000      0.0000      0.0      0.0      0.0      0.0      0.0
50%        0.000000      0.0000      0.0      0.0      0.0      0.0      0.0
75%        0.000000      0.0000      0.0      0.0      0.0      0.0      0.0
max      156.000000      6.0000      0.0      0.0      0.0      0.0      0.0

         28x28
count  10000.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0

[8 rows x 785 columns]

In [53]:
#Write a program to drop and rename any two columns from any dataset ?
import pandas as pd
pg = pd.read_csv(r"C:\Users\amini\OneDrive\Capstones Data\Python\First.csv")
pg.drop(['First Name'],axis=1,inplace=True)
pg.rename(columns={'Last Name':'Initial'},inplace=True)
print(pg)

   Last Name   Quiz 1 Score   Quiz 2 Score   Mid Semester Score
0        Doe              8              6                   67  \
1        Roe              5              8                   78
2       Sigh              3              2                   34

    Final Semester Score
0                     75
1                     90
2                     35

In [55]:
#What is DataFrame in Pandas? convert any list into a DataFrame.
'''In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types.
It is similar to a spreadsheet or SQL table, where each column can have a different data type and is identified by a unique label.
DataFrames can be created from a variety of sources, including CSV files, Excel spreadsheets, SQL databases, and Python data structures.'''
import pandas as pd
data = [
    ['Akhilesh','22','Vjw'],
    ['Sai krishna','23','Hyb'],
    ['Saurab','21','Banglore'],
    ['prasad','23','up']
]
df = pd.DataFrame(data,columns=['Name','Age','Location'])
print(df)

          Name Age  Location
0     Akhilesh  22       Vjw
1  Sai krishna  23       Hyb
2       Saurab  21  Banglore
3       prasad  23        up

In [59]:
#Why iloc function is used ? Display first 10 rows and first 5 columns using ‘iloc’ function.
'''In pandas 'iloc' function is used to print the range of the columns and rows from the dataframe by their integer index position'''
import pandas as pd
de = df.iloc[:10,:5]
print(de)
'''here our condition is 10 rows and 5 columns but de dont have much data so it is print the whole de '''

          Name Age  Location
0     Akhilesh  22       Vjw
1  Sai krishna  23       Hyb
2       Saurab  21  Banglore
3       prasad  23        up

In [62]:
#How do you select random samples from a pandas DataFrame? Give an example.
'''In pandas we have sample function it gives the random values from a dataframe '''
import pandas as pd
pr = pd.read_csv(r"C:\Users\amini\OneDrive\Capstones Data\Python\mnist_test.csv")
sample = pr.sample(n=20)
print(sample)

      label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20
3450      0    0    0    0    0    0    0    0    0    0  ...      0      0  \
5807      5    0    0    0    0    0    0    0    0    0  ...      0      0
6693      6    0    0    0    0    0    0    0    0    0  ...      0      0
1981      6    0    0    0    0    0    0    0    0    0  ...      0      0
3072      8    0    0    0    0    0    0    0    0    0  ...      0      0
3151      2    0    0    0    0    0    0    0    0    0  ...      0      0
6432      3    0    0    0    0    0    0    0    0    0  ...      0      0
7501      3    0    0    0    0    0    0    0    0    0  ...      0      0
8333      6    0    0    0    0    0    0    0    0    0  ...      0      0
4292      1    0    0    0    0    0    0    0    0    0  ...      0      0
3232      4    0    0    0    0    0    0    0    0    0  ...      0      0
6837      7    0    0    0    0    0    0    0    0    0  ...      0      0
5935      3    0    0    0    0    0    0    0    0    0  ...      0      0
2115      7    0    0    0    0    0    0    0    0    0  ...      0      0
6714      3    0    0    0    0    0    0    0    0    0  ...      0      0
7267      7    0    0    0    0    0    0    0    0    0  ...      0      0
1274      4    0    0    0    0    0    0    0    0    0  ...      0      0
3304      6    0    0    0    0    0    0    0    0    0  ...      0      0
9852      7    0    0    0    0    0    0    0    0    0  ...      0      0
6790      3    0    0    0    0    0    0    0    0    0  ...      0      0

      28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
3450      0      0      0      0      0      0      0      0
5807      0      0      0      0      0      0      0      0
6693      0      0      0      0      0      0      0      0
1981      0      0      0      0      0      0      0      0
3072      0      0      0      0      0      0      0      0
3151      0      0      0      0      0      0      0      0
6432      0      0      0      0      0      0      0      0
7501      0      0      0      0      0      0      0      0
8333      0      0      0      0      0      0      0      0
4292      0      0      0      0      0      0      0      0
3232      0      0      0      0      0      0      0      0
6837      0      0      0      0      0      0      0      0
5935      0      0      0      0      0      0      0      0
2115      0      0      0      0      0      0      0      0
6714      0      0      0      0      0      0      0      0
7267      0      0      0      0      0      0      0      0
1274      0      0      0      0      0      0      0      0
3304      0      0      0      0      0      0      0      0
9852      0      0      0      0      0      0      0      0
6790      0      0      0      0      0      0      0      0

[20 rows x 785 columns]

In [76]:
#What is the difference between ‘iloc’ and ‘loc’ function, also give examples of both ?
''' In pandas 'iloc' gives the range of the rows and coulumns from the dataframes with their integer index position
'loc' print the selected rows and columns from the data base '''
import pandas as pd
pr = pd.read_csv(r"C:\Users\amini\OneDrive\Capstones Data\Python\mnist_test.csv")
pr = pr.iloc[:10,:2]
print(pr)

   label  1x1
0      7    0
1      2    0
2      1    0
3      0    0
4      4    0
5      1    0
6      4    0
7      9    0
8      5    0
9      9    0

In [105]:
dg= de.loc[:"0"]
print(dg)

       Name Age Location
0  Akhilesh  22      Vjw

In [112]:
#Show, how to combine two DataFrames, both Row wise and column wise ?
import pandas as pd
fd1 = pd.DataFrame({'A':[1,2,3],'B':[3,4,5]})
fd2 = pd.DataFrame({'C':[3,4,7],'D':[3,6,4]})
fd_r = pd.concat([fd1,fd2],axis=0)
fd_c = pd.concat([fd1,fd2],axis=1)
print(fd_r)
print(fd_c)

     A    B    C    D
0  1.0  3.0  NaN  NaN
1  2.0  4.0  NaN  NaN
2  3.0  5.0  NaN  NaN
0  NaN  NaN  3.0  3.0
1  NaN  NaN  4.0  6.0
2  NaN  NaN  7.0  4.0
   A  B  C  D
0  1  3  3  3
1  2  4  4  6
2  3  5  7  4

In [114]:
#How can you remove missing values (NaNs) from a DataFrame ? Show some methods.
import pandas as pd
x = fd_r.dropna()
print(x)

Empty DataFrame
Columns: [A, B, C, D]
Index: []